@import "tailwindcss";


@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./fonts/lineawesome/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yakanBold';
  src: url('./fonts/lineawesome/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'titr';
  src: url('./fonts/titr/Bahij-Titr.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.font-yekan {
  font-family: 'yakanBold';
  font-style: 'yakanBold';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
